
.tituloPrincipal{
  padding-left: 20px;
}

#banner{
  width: 100%;
 
}

.principal{
  background-color: #ccc;
  padding: 30px;
}

.subTitulo{
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;  
}

#missao {
  color: crimson;
}

.itens {
  font-style: italic;
}

.beneficios{
  background-color: #fff;
  padding: 20px;
}

ul{
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  width: 20%;
}

.img-beneficios {
  width: 50%;
}


